body {
    background-color: grey;
    font-size: 1rem;
}

.page-holder {
    min-height: 100vh;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    margin-top: 1rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }