{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="content-section card">
        <div class="media px-3">

            <img class="rounded-circle float-start account-img img-thumbnail" src="{{ user.profile.image.url }}">
            <div class="media-body mt-2 ml-2">

                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">Последняя книга - {{ user.profile.last_book.title }}</p>
                {% if user.profile.tele_id %}
                    <p class="text-secondary">Telegram_id - {{ user.profile.tele_id }}</p>
                {% endif %}

            </div>
        </div>

        <form class="mb-3 px-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Данные аккаунта</legend>
                {{ u_form|crispy }}

                <div class="form-group my-3">
                    <a class="btn btn-outline-dark" type="submit" href="{% url 'password_reset' %}">Изменить пароль</a>
                </div>
                <label for="profile_picture_upload">Загрузить новый аватар</label>
                <input type="file" class="form-control" id="profile_picture_upload"
                       aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="image">
            </fieldset>

            <div class="form-group mt-3">
                <input class="btn btn-outline-dark" type="submit" value="Обновить">
            </div>
        </form>

    </div>



{% endblock content %}