{% extends "catalog/base.html" %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">


            <div class="d-flex justify-content-between">
                <span>
                    <a href="{% url "author-update" object.id %}"
                       class="btn btn-outline-dark"
                       role="button">Изменить</a>
                </span>

                <h3 class="card-title">{{ object.name }}</h3>

                <span>
                    <a href="{% url "author-delete" object.id %}"
                       class="btn btn-outline-danger"
                       role="button">Удалить</a>
                </span>
            </div>

            <div class="d-flex justify-content-between">
                {% if object.date_of_birth %}
                    <span class="col text-left">Дата рождения: {{ object.date_of_birth }}</span>{% endif %}
                {% if object.country %}
                    <span class="col text-right">Страна: {{ object.country }}</span>{% endif %}

            </div>
            <div class="card-text">

                <h5>Книги:</h5>

                <div class="list-group">
                    {% for book in object.book_set.all %}
                        <a class="list-group-item {% if book.favorite %}list-group-item-success{% endif %}"
                           href="{% url 'book-detail' book.id %}">
                            {% if book.read %}<b>{% endif %}

                            <div class="d-flex justify-content-between">
                                <span class="col text-left">
                                    {{ book.title }}
                                </span>
                                <span class="col text-right">
                                    {{ book.shelf.bookcase.title }} - {{ book.shelf.title|lower }},  {{ book.shelf.row|lower }} ряд
                                </span>
                            </div>

                            {% if book.read %}</b>{% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


{% endblock content %}