{% extends "catalog/base.html" %}
{% block content %}

    <div class="card text-center">
        <div class="card-body">
            <div class="float-start d-none d-md-block">
                <h2 class="account-heading">{{ user.username }}</h2>
                <a class="nav-link" href="{% url 'profile' %}">
                    <img class="rounded-circle  account-img img-thumbnail" src="{{ user.profile.image.url }}"> </a>
            </div>


            <h1 class="card-title">Книги:</h1>

            <div class="card-text">
                <div class="list-group text-center">


                    {% for book in results %}

                        {% include 'catalog/books_block.html' %}

                    {% endfor %}

                    <a class="list-group-item list-group-item-action list-group-item-light"
                       href="{% url 'book-create' %}">Добавить новую книгу</a>


                </div>
            </div>

        </div>
    </div>





{% endblock content %}