{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card px-4 py-4">

        {% if errors %}
            <div class="alert alert-danger">
                <h4>Ошибка:</h4>
                {% for error in errors %}
                    <p>{{ error|first }} - {{ error|last }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Введите данные:</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-3">
                    <input class="btn btn-outline-dark" type="submit" value="ОК">
                </div>
            </form>
        </div>
    </div>


{% endblock content %}